h1{
    color: #808080;
    padding-left: 30px;
}
.header{
    border: solid;
background-color: #b4b4e8;
display:flex;
justify-content: space-between;    
}
.grid{
   display:flex;
   flex-wrap: wrap; 
   justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;

}
p,h2{
    text-align: center;
}
a:link{color:#808080}
a:visited{color:#808080}
.menu{
margin-right: 30px;
}
.menu a{
    margin-left: 20px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity: 1;
}
.item:hover img{
    opacity: 0.33;
}